body {
    margin: 0px;
    text-align: center;
    padding-top: 800px;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    height: 800px;
    color: white;
    left: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.parallax-inner {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: fantasy;
    font-weight: 300;
}

#Name {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}

#bio {
    padding: 50px;
    font-size: 42px;
}

.line {
    height: 6px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    margin-top: 0px;
}

.links {
    float: left;
    color: black;
    padding-left: 33px;
    padding-right: 25px;
    font-family: 'Antonio';
    font-size: 20px;
    display: inline;
}

.links:hover {
    color: dodgerblue;
    background-color: black;
    text-decoration: underline;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.articles:hover {
    color: fuchsia;
}

html {
    scroll-behavior: smooth;
}
#writings a {
    text-shadow: none !important;
    text-decoration: underline;
    color: blue;
}
#contact{
    background: firebrick;
}
.1  a{
    color: white;
    text-shadow: none;
}
.1 h3{
    display: inline;
}
